
/* For Tablet Screen */
@media (min-width:768px) 
{
    .logo
{
    position: absolute;
    left: 3%;
    top: 20px;
}

.top-hr
{
    display: none;
}

body
{
    background-image: url("../assets/destination/background-destination-tablet.jpg");
    background-size: cover;
    color: white;
}

.top-tab
{
    background-image: linear-gradient(270deg, #192a46, #f7f7f708);
    backdrop-filter: blur(16px);
    width: 50%;
    display: inline-block;
    padding-left: 3rem;
    position: absolute;
    top: 0;
    right: 0;
}

strong
{
    display: none;
}

.top-tab-heading
{
    display: inline-block;
    margin-right: 4%;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    word-spacing: 0.2rem;
    color: white;
    text-decoration: none;
    padding-top: 2.8125rem;
    padding-bottom: 2.8125rem;
    border-bottom-color: rgba(255, 255, 255, 0);
}

.active-tab
{
    border-bottom: solid;
}

.crew-div
{
    display: inline-block;
    position: absolute;
    top: 125px;
    left: 8%;
}

.crew-div-heading
{
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 1.25em;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    word-spacing: 0.2rem;
    font-weight: normal;
}

.crew-div-heading-01
{
    display: inline-block;
    color: rgba(255, 255, 255, 0.25);
}

.crew-body
{
    text-align: center;
    display: inline-block;
    width: 80%;
    position: absolute;
    left: calc(50% - 80%/2);
    top: 230px;
}

.crew-body-designation
{
    font-family: 'Bellefair', serif;
    font-size: 1.5rem;
    font-weight: normal;
    text-transform: uppercase;
    opacity: 50%;
}

.crew-body-name
{
    font-family: 'Bellefair', serif;
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 1rem;
}

.crew-body-p
{
    font-family: 'Barlow', sans-serif;
    font-size: 1rem;
    line-height: 2;
    text-align: justify;
    margin-top: 0;
    margin-bottom: 2rem;
    letter-spacing: 0.02rem;
    color: #D0D6F9;
}

.crew-footer
{
    display: inline-block;
    position: absolute;
    top: 480px;
    left: calc(50% - 136px/2 + 16px);
}

.crew-page-selector
{
    margin-right: 1rem;
    opacity: 18%;
}

.crew-page-selector-active
{
    opacity: 100%;
}

.crew-page-selector-image
{
    width: 10px;
}

.crew-image
{
    width: 280px;
    position: absolute;
    left: calc(50% - 280px/2);
    right: auto;
    bottom: 0;
}

}

/*For Desktop Screen*/
@media (min-width:1400px)
{
.logo
{
    position: absolute;
    left: 3%;
    top: 64px;
}

.top-hr
{
    width: 40%;
    display: inline-block;
    border-color: rgba(255, 255, 255, 0.5);
    border-width: 1px 0 0;
    margin: 0;
    position: absolute;
    top: 5.5rem;
    left: 8%;
}

body
{
    background-image: url("../assets/crew/background-crew-desktop.jpg");
    background-size: cover;
    color: white;
}

.top-tab
{
    background-image: linear-gradient(270deg, #192a46, #f7f7f708);
    backdrop-filter: blur(16px);
    width: 50%;
    display: inline-block;
    padding-left: 7em;
    position: absolute;
    top: 2em;
    right: 0;
}

strong
{
    display: inline-block;
}

.top-tab-heading
{
    display: inline-block;
    margin-right: 3rem;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    word-spacing: 0.2rem;
    color: white;
    text-decoration: none;
    padding-top: 2.8125rem;
    padding-bottom: 2.8125rem;
    border-bottom-color: rgba(255, 255, 255, 0);
}

.active-tab
{
    border-bottom: solid;
}

.top-tab-heading:hover
{
    border-bottom: solid;
    border-color: rgba(255, 255, 255, 0.295);
}

.crew-div
{
    display: inline-block;
    position: absolute;
    top: 250px;
    left: 8%;
}

.crew-div-heading
{
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 1.75rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    word-spacing: 0.2rem;
    font-weight: normal;
}

.crew-div-heading-01
{
    display: inline-block;
    color: rgba(255, 255, 255, 0.25);
}

.crew-body
{
    text-align: left;
    width: 40%;
    display: inline-block;
    position: absolute;
    top: 380px;
    left: 8%;
}

.crew-body-designation
{
    font-family: 'Bellefair', serif;
    font-size: 2rem;
    font-weight: normal;
    text-transform: uppercase;
    opacity: 50%;
}

.crew-body-name
{
    font-family: 'Bellefair', serif;
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: normal;
    margin-top: 0.625rem;
    margin-bottom: 3.125rem;
}

.crew-body-p
{
    font-family: 'Barlow', sans-serif;
    font-size: 1.125rem;
    line-height: 2;
    text-align: justify;
    margin-top: 0;
    margin-bottom: 2rem;
    letter-spacing: 0.02rem;
    color: #D0D6F9;
}

.crew-footer
{
    display: inline-block;
    position: absolute;
    top: 800px;
    left: 8%;
}

.crew-page-selector
{
    margin-right: 1rem;
    opacity: 18%;
}

.crew-page-selector:hover
{
    opacity: 50%;
}

.crew-page-selector-active
{
    opacity: 100%;
}

.crew-page-selector-image
{
    width: auto;
}

.crew-image
{
    width: auto;
    position: absolute;
    left: auto;
    right: 8%;
    bottom: 0;
}

a:hover
{
    cursor: url(../assets/cursor/Pointer\ Copy\ 25.png), pointer;
}

}