.logo
{
    position: absolute;
    left: 3%;
    top: 64px;
}

.top-hr
{
    width: 40%;
    display: inline-block;
    border-color: rgba(255, 255, 255, 0.5);
    border-width: 1px 0 0;
    margin: 0;
    position: absolute;
    top: 5.5rem;
    left: 8%;
}

body
{
    background-image: url("../assets/destination/background-destination-desktop.jpg");
    background-size: cover;
    color: white;
}

.top-tab
{
    background-image: linear-gradient(270deg, #192a46, #f7f7f708);
    backdrop-filter: blur(16px);
    width: 50%;
    display: inline-block;
    padding-left: 7em;
    position: absolute;
    top: 2em;
    right: 0;
}

.top-tab-heading
{
    display: inline-block;
    margin-right: 3rem;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    word-spacing: 0.2rem;
    color: white;
    text-decoration: none;
    padding-top: 2.8125rem;
    padding-bottom: 2.8125rem;
    border-bottom-color: rgba(255, 255, 255, 0);
}

.active-tab
{
    border-bottom: solid;
}

.top-tab-heading:hover
{
    border-bottom: solid;
    border-color: rgba(255, 255, 255, 0.295);
}

.destination-div
{
    display: inline-block;
    position: absolute;
    top: 250px;
    left: 8%;
}

.moon-image
{
    margin-top: 100px;
    margin-left: 15%;
}

.destination-div-heading
{
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 1.75rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    word-spacing: 0.2rem;
    font-weight: normal;
}

.destination-div-heading-01
{
    color: rgba(255, 255, 255, 0.25);
}

.destination-moon-body
{
    display: inline-block;
    width: 30%;
    position: absolute;
    right: 8%;
    top: 380px;
}

.destination-moon-body-heading-tab
{
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    margin-right: 1.5rem;
    text-decoration: none;
    color: #D0D6F9;
    padding-bottom: 0.8125rem;
}

.destination-moon-body-heading-active-tab
{
    border-bottom: solid;
    color: white;
}

.destination-moon-body-heading-tab:hover
{
    border-bottom: solid;
    border-color: rgba(255, 255, 255, 0.295);
}

.destination-moon-body-h1
{
    font-family: 'Bellefair', serif;
    font-size: 6.25rem;
    text-transform: uppercase;
    font-weight: normal;
    margin-top: 3.125rem;
    margin-bottom: 0.625rem;
}

.destination-moon-body-p
{
    font-family: 'Barlow', sans-serif;
    font-size: 1.125rem;
    line-height: 2;
    text-align: justify;
    margin-top: 0;
    margin-bottom: 2rem;
    letter-spacing: 0.02rem;
}

.destination-moon-body-hr
{
    width: 100%;
    display: inline-block;
    border-color: rgba(255, 255, 255, 0.5);
    border-width: 1px 0 0;
}

.destination-moon-body-footer1, .destination-moon-body-footer2
{
    display: inline-block;
}

.destination-moon-body-footer1
{
    margin-right: 18%;
}

.destination-moon-body-footer-h5
{
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 0.875rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    word-spacing: 0.2rem;
    font-weight: normal;
}

.destination-moon-body-footer-h2
{
    font-family: 'Bellefair', serif;
    font-size: 1.75rem;
    font-weight: normal;
    text-transform: uppercase;
}

a:hover
{
    cursor: url(../assets/cursor/Pointer\ Copy\ 25.png), pointer;
}